'name': 'JSON (Squarespace)'
'fileTypes': [
  'conf',
  'preset'
]
'patterns': [
  {
    'comment': 'Include JSON grammar for this filetype.'
    'include': 'source.json'
  }
]
'scopeName': 'source.json.jsont'
